body{
    background-color: #2C2B3D;
    font-family: 'JetBrains Mono', monospace;
    color:hsl(0, 0%, 100%);
    font-size: 14px;
    padding: 71px 210px 0px;
    margin: 0px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 88px;
}

ul {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style-type: none;
}

main{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    width: 1092px;
    margin: auto;
}

h1 {
    font-size: 36px;

}

h1 span{
    color:rgba(0, 191, 166, 1);
}

p{
    font-family: 'Open Sans', sans-serif;
    line-height: 28px;
    font-size: 16px;
    color:#C2C2C2;
    text-align: center;
    width: 604px;
}

p span{
    color:rgba(0, 191, 166, 1);
}

.line{
    width: 568px;
    margin: 0 auto 0px;
    height: 0px;
    border: 1px solid #00BFA6;
    text-align: center;
    margin-bottom: 30px;
}

footer{
    font-size: 14px;
    width: 568px;
    margin: 0 auto 0px;
    height: 0px;
    text-align: center;
    margin-top: 150px;
}


footer a{
    color:hsl(0, 0%, 100%);
    text-decoration: none;
}

footer img{
    position: fixed;
    left: 0px;
    bottom: 20px;
}